<div class="center hero-unit">
<h1>Welcome to the Erongo Mountain Rhino Sancturay Trust Website</h1>

  <h2>
    This is the home page for the Erongo Mountain Rhino Sanctuary.
  </h2>

  <%= link_to "Sponsor Now", '#', class: "btn btn-large btn-primary" %>
</div>

